body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  padding: 11px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 2.5px solid hsla(0, 0%, 100%, 0.8);
  box-shadow: 0 3px 3px rgb(0 0 0 / 16%), 0 3px 3px rgb(0 0 0 / 23%);
  width: 200px;
}

.error {
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  font-weight: 400;
  margin: 10px 0 0;
  text-align: center;
  font-size: 12px;
}

@import './components/notFound/not-found.scss';
@import './components/header/header.scss';
@import './components/board/board_collection.scss';
@import './components/board/board_creation.scss';
@import './components/board/boardCreation/board_active.scss';
@import './components/board/activeBoard/card.scss';